{% extends 'recipient/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        {% for field in form %}
                            <div class="form-group mt-2">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted ">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-dark m-3">
                        {% if object %}
                            Изменить настройки рассылки
                        {% else %}
                            Добавить рассылку
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
