{% extends 'recipient/base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center h3 mb-3 fw-normal">Восстановление пароля</h1>
    {% if success_message %}
        <div class="alert alert-success" role="alert">
            {{ success_message }} <a class="link-success" href="{% url 'users:login' %}">Войти с новым паролем</a>
        </div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Введите адрес электронной почты</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Мы вышлем новый пароль.</div>
            </div>
            <button type="submit" class="btn btn-outline-dark w-100 py-2">Восстановить пароль</button>
        </form>
    {% endif %}
</div>
{% endblock %}
